* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fa-house,
.fa-rectangle-list,
.fa-paper-plane,
.bi-ui-radios-grid,
.fa-users {
  color: #caf0f8;
}
.home-nav {
  color: #caf0f8;
}
.home-component {
  background-color: #03045e;
}

.nav-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.home-container,
.menu-container,
.sendmenu-container,
.submission-container,
.users-container {
  width: 100%;
  display: flex;
  text-decoration: none !important;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center !important;
}
.arrow {
  position: relative;
}
.fa-circle-arrow-left {
  color: #caf0f8;
  font-size: 30px;
  position: absolute;
  top: 23px;
  right: 35px;
  left: 200px;
  border-radius: 50%;
}
.home-nav {
  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    #caf0f8 90%,
    #caf0f8 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 200ms;
}

.home-nav:hover {
  background-size: 100% 100%;
  background-position-x: left;
}
.menu-add-Button {
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #03045e;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}
.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.55em 1em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.menu-add-Button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.menu-add-Button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
.menu-edit-button {
  border: 1px solid yellow;
  color: yellow;
  padding-top: 3px;
  padding-left: 8px;
  border-radius: 3px;
  text-decoration: none !important;
  padding-right: 8px;
  padding-bottom: 8px;
}
.menu-edit-button:hover {
  color: yellow;
}
/* .table-menu {
  border: 2px solid #03045e;
} */
.fa-check {
  color: rgb(14, 196, 14);
  font-weight: bold;
}
.fa-xmark {
  color: rgb(235, 18, 18);
  font-weight: bold;
}
td {
  text-align: center;
  vertical-align: middle;
}
th {
  text-align: center;
  vertical-align: middle;
}
.create-menu-back:hover::before {
  content: "";
  width: 15px;
  margin-right: 2px;
}
.create-menu-back::before {
  content: "";
  display: block;
  width: 0;
  height: 24px;
  overflow: hidden;
  background-image: url("https://icons.getbootstrap.com/assets/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: width 200ms, margin-left 200ms;
}

.template-name-field {
  width: 70%;
}
.addMenus {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 3px;
  margin-left: 4px;
  padding-right: 3px;
  padding-left: 3px;
  color: #03045e;
  border-radius: 5px;
  border: 1px solid #03045e;
  background-color: #8081c069;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuDel {
  margin-right: 5px;
  font-size: 16px !important;
  font-weight: bold;
  cursor: pointer;
}
.edit-menu-option {
  border: 1px solid #03045e;
  border-radius: 4px;
  padding: 5px;
  /* margin-right: 5px; */
}
.fa-xmark {
  cursor: pointer;
}
/* .old-menu-option {
  border: 1px solid #03045e;
  color: #03045e;
  background-color: #8081c069;
} */
.fa-angle-down {
  font-size: 15px;
}
.fa-circle-exclamation {
  font-size: 13px;
}
.dish-capitalize {
  text-transform: capitalize;
}
.font-weight-bold {
  font-weight: bold;
  color: #03045e;
}
.form-control:focus,
.form-select:focus {
  color: #212529;
  background-color: transparent;
  border-color: #03045e !important;
  outline: 0;
  box-shadow: none !important;
}
.home-container:focus,
.menu-container:focus,
.sendmenu-container:focus,
.submission-container:focus,
.users-container:focus {
  border-right: 3px solid white;
  border-left: 3px solid white;
  border-radius: 5px;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #03045e;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.tesark-nav-logo {
  border-radius: 5px;
  height: 90%;
  width: 70%;
  background-color: #fff;
  padding: 5px;
  color: #fff;
}
.view-Menu {
  cursor: pointer !important;
}

.login-card-container {
  height: 100vh;
  align-items: center;
}
.menu-component {
  background-color: #caf0f8;
  height: 100%;
}
.fa-x {
  color: red;
  font-size: 20px;
  cursor: pointer !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.dialogbox-submit {
  display: flex;
  align-items: center;
  justify-content: end;
  /* margin-top: px; */
}
.card_load_extreme_title {
  width: 100px;
  height: 20px;
  position: relative;
  float: right;
  border-radius: 5px;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #03045e 40%,
    #e5e5e5 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 1.5s infinite;
}
@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}
.add-user-button {
  background-color: #03045e;
  color: ghostwhite;
  border: none !important;
  outline: none !important;
  padding: 7px;
  border-radius: 5px;
}
.add-user-button:active {
  color: #03045e !important;
  background-color: ghostwhite !important;
  font-weight: bold;
  border-radius: 5px !important;
}
.user-box {
  padding: 4px 5px 4px 5px;
  border-radius: 3px;
}
.fa-user-large {
  border: 1px solid #03045e;
  padding: 6px 6px 6px 7px;
  color: #03045e;
  border-radius: 50%;
}
.user-name {
  color: #03045e;
}
.your-order {
  color: #03045e;
  font-weight: bold;
}
.right-arrow-menu {
  font-size: 13px;
  font-weight: bold;
}
.user-bacjground {
  background-image: url("https://app.doofies.in/assets/images/banner.jpg");
  height: 100vh;
}
