@import url("https://fonts.googleapis.com/css2?family=Allura&family=Pacifico&family=Roboto:wght@300&family=Rubik&family=Sacramento&family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 768 */
.userpage-tesark-logo {
  height: 33px;
  width: 33px;
  border-radius: 5px;
  border: 1px solid #3f0036;
  margin-top: 24px;
}
@media only screen and (max-width: 600px) {
  .tool-bar {
    display: none;
  }
  .home-component {
    display: none;
  }
  .material-drawer {
    display: block;
  }
  .admin-drawer-component {
    display: block;
  }
  .user-background {
    height: 100vh;
    background-image: url("./assets/undraw_coffee_with_friends_3cbj\ \(1\).svg"),
      linear-gradient(to right top, #051937, #14173b, #23133d, #310c3b, #3f0036) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tool-bar {
    display: none;
  }
  .home-component {
    display: none;
  }
  .material-drawer {
    display: block;
  }
  .admin-drawer-component {
    display: block;
  }
  .user-background {
    height: 100vh;
    background-image: url("./assets/undraw_coffee_with_friends_3cbj\ \(1\).svg"),
      linear-gradient(to right top, #051937, #14173b, #23133d, #310c3b, #3f0036) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tool-bar {
    display: block;
  }
  .home-component {
    display: block;
  }
  .material-drawer {
    display: none;
  }
  .admin-drawer-component {
    display: none;
  }
  .user-background {
    height: 100vh;
    background-image: url("./assets/undraw_coffee_with_friends_3cbj\ \(1\).svg"),
      linear-gradient(to right top, #051937, #14173b, #23133d, #310c3b, #3f0036) !important;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
  }
}

.fa-house,
.fa-rectangle-list,
.fa-paper-plane,
.bi-ui-radios-grid,
.fa-users {
  color: #fff;
}
.home-nav {
  color: #fff;
}
.home-component {
  background-color: #3f0036;
}

.nav-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.home-container,
.menu-container,
.sendmenu-container,
.submission-container,
.users-container {
  width: 100%;
  display: flex;
  text-decoration: none !important;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center !important;
}
.arrow {
  position: relative;
}
.fa-circle-arrow-left {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 23px;
  right: 35px;
  left: 200px;
  border-radius: 50%;
}
.home-nav {
  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    #fff 90%,
    #fff 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 200ms;
}

.home-nav:hover {
  background-size: 100% 100%;
  background-position-x: left;
}
.menu-add-Button {
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #3f0036;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}
.button_top {
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.55em 1em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.menu-add-Button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.menu-add-Button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
.menu-edit-button {
  border: 1px solid yellow;
  color: yellow;
  padding-top: 3px;
  padding-left: 8px;
  border-radius: 3px;
  text-decoration: none !important;
  padding-right: 8px;
  padding-bottom: 8px;
}
.menu-edit-button:hover {
  color: yellow;
}
/* .table-menu {
  border: 2px solid #3f0036;
} */
.fa-check {
  color: rgb(14, 196, 14);
  font-weight: bold;
}
.fa-xmark {
  color: rgb(235, 18, 18);
  font-weight: bold;
}
td {
  text-align: center;
  vertical-align: middle;
}
th {
  text-align: center;
  vertical-align: middle;
}
.create-menu-back:hover::before {
  content: "";
  width: 15px;
  margin-right: 2px;
}
.create-menu-back::before {
  content: "";
  display: block;
  width: 0;
  height: 24px;
  overflow: hidden;
  background-image: url("https://icons.getbootstrap.com/assets/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: width 200ms, margin-left 200ms;
}

.template-name-field {
  width: 70%;
}
.addMenus {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 3px;
  margin-left: 4px;
  padding-right: 3px;
  padding-left: 3px;
  color: #3f0036;
  border-radius: 5px;
  border: 1px solid #3f0036;
  background-color: #8081c069;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuDel {
  margin-right: 5px;
  font-size: 16px !important;
  font-weight: bold;
  cursor: pointer;
}
.edit-menu-option {
  border: 1px solid #3f0036;
  border-radius: 4px;
  padding: 5px;
  /* margin-right: 5px; */
}
.fa-xmark {
  cursor: pointer;
}
/* .old-menu-option {
  border: 1px solid #3f0036;
  color: #3f0036;
  background-color: #8081c069;
} */
.fa-angle-down {
  font-size: 15px;
}
.fa-circle-exclamation {
  font-size: 13px;
}
.dish-capitalize {
  text-transform: capitalize;
}
.font-weight-bold {
  font-weight: bold;
  color: #3f0036;
}
.form-control:focus,
.form-select:focus {
  color: #212529;
  background-color: transparent;
  border-color: #3f0036 !important;
  outline: 0;
  box-shadow: none !important;
}
.home-container:focus,
.menu-container:focus,
.sendmenu-container:focus,
.submission-container:focus,
.users-container:focus {
  border-right: 3px solid white;
  border-left: 3px solid white;
  border-radius: 5px;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #3f0036;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.tesark-nav-logo {
  border-radius: 5px;
  height: 90%;
  width: 70%;
  background-color: #fff;
  padding: 5px;
  color: #fff;
}
.view-Menu {
  cursor: pointer !important;
}

.login-card-container {
  height: 100vh;
  align-items: center;
}
.menu-component {
  background-color: #caf0f8;
  height: 100%;
}
.fa-x {
  color: red;
  font-size: 20px;
  cursor: pointer !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.dialogbox-submit {
  display: flex;
  align-items: center;
  justify-content: end;
  /* margin-top: px; */
}
.card_load_extreme_title {
  width: 100px;
  height: 20px;
  position: relative;
  float: right;
  border-radius: 5px;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #3f0036 40%,
    #e5e5e5 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 1.5s infinite;
}
@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}
.add-user-button {
  color: ghostwhite;
  border: none !important;
  outline: none !important;
  padding: 7px;
  border-radius: 5px;
}
.add-user-button:active {
  color: #3f0036 !important;
  background-color: ghostwhite !important;
  font-weight: bold;
  border-radius: 5px !important;
}
.user-box {
  padding: 4px 5px 4px 5px;
  border-radius: 3px;
}
.fa-user-large {
  border: 1px solid #3f0036;
  padding: 6px 6px 6px 7px;
  color: #3f0036;
  border-radius: 50%;
}
.user-name {
  color: #fff;
}
.your-order {
  color: #3f0036;
  font-weight: bold;
}
.right-arrow-menu {
  font-size: 13px;
  font-weight: bold;
}

.tesark-logo1 {
  height: 28px;
}
.tesark-logo2 {
  height: 30px;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff !important;
}

.tesark-logo2R {
  height: 30px;
  padding: 4px;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff !important;
}
.userNAmeDrawer {
  padding: 18px;
}
.user-drawer {
  color: #3f0036;
  font-size: larger;
}
.user-drawer1 {
  color: #3f0036;
  font-size: larger;
  font-weight: bold;
}

.tesark-logo2:hover {
  border: 2px solid #fff;
}

.greeting-user {
  font-family: "Allura", cursive;
  transform: scale(2);
  color: #adf0d1 !important;
}

.opened-menu {
  text-transform: capitalize !important;
}

.opened-menu-container {
  font-size: 25px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Work Sans", sans-serif;
  color: #fff;
}
.input-label {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Work Sans", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap");
.errorPage {
  font-family: "Edu VIC WA NT Beginner", cursive !important;
  font-size: 70px;
  color: #3f0036;
}
.password-container {
  position: relative;
}
.fa-eye,
.fa-eye-slash {
  color: #3f0036;
  position: absolute;
  top: 35px;
  right: 20px;
  cursor: pointer;
}
.tesark-login-logo {
  width: 70px !important;
  height: 70px !important;
  border: 2px solid #3f0036;
  border-radius: 5px;
  margin-left: 2px;
  position: absolute;
  bottom: 244px;
}
.errorAlert {
  position: absolute;
  top: 20px;
}
/* background-image: linear-gradient(to right top, #051937, #14173b, #23133d, #310c3b, #3f0036); */
.user-page {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    #051937,
    #14173b,
    #23133d,
    #310c3b,
    #3f0036
  );
}
@import url("https://fonts.googleapis.com/css2?family=Coda&display=swap");
.user-welcome-greet {
  font-family: "Coda", cursive !important;
  color: #fff;
  letter-spacing: 1.5px;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 92px !important;
}
.user-content {
  margin-top: 100px;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
.snack-qoute {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 3rem;
  font-family: "Source Sans Pro", sans-serif !important;
}
.snack-name {
  color: #5ffbf1 !important;
  text-transform: capitalize !important;
}

.error-svg {
  width: 100%;
  height: 40vh;
}
.App {
  background-color: #180024 !important;
}
.App {
  background-image: url("./assets/undraw_working_from_anywhere_re_9obt.svg");
  height: 100%;
  background-position: right bottom !important;
  object-fit: cover !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #180024;
}
.login-form {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  padding: 10px;
  border-radius: 4px;
  position: relative;
}
.login-email:focus {
  background-color: #fff !important;
}

.App::-webkit-scrollbar {
  display: none !important;
  overflow: hidden !important;
}
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
.login-greet {
  color: #fff;
  font-size: 35px;
  font-family: "Kaushan Script", cursive !important;
}
.menu-button-drawer {
  border: none !important;
}
/* ---------- */

.fa-bars {
  font-size: 30px;
  padding: 10px;
  border: none !important;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin-top: 24px;
}
.fa-circle {
  font-size: 15px;
  color: #3f0036;
}
.active-menu-label {
  border-radius: 10px !important;
  border-left: 6px solid #3f0036 !important;
  margin-bottom: 5px;
}

.deletebtn-icon {
  border: 1px solid red !important;
  color: red !important;
  padding-top: 1px;
  padding-left: 8px;
  border-radius: 3px;
  padding-right: 8px;
  padding-bottom: 6px;
  background-color: #fff;
}
.table-container {
  height: 460px;
  overflow: auto;
  overflow-x: none !important;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #3f0036;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f0036;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
.search-user {
  width: 13rem;
}
.refresh {
  margin-left: 5px;
  padding: 5px 8px 5px 8px;
  border: 1px solid #e99797;
  border-radius: 3px;
  background-color: #fff;
  color: #d62f2f;
  margin-right: 3px;
}
.user-error-alert {
  margin-left: 9px;
}
.today-submits-heading {
  margin-right: 100px;
  margin-bottom: 0 !important;
}
.hrDivider {
  margin-top: 5px;
  margin-bottom: 5px;
}
.menu-card {
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid #3f0036;
  font-size: large;
}

.menu-card1 {
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  margin: 5px;
  background-color: #7b1fa2;
  color: #fff;
  font-size: large;
}
/* -----------user loader------------- */
.btnLoader {
  border: 4px solid #7b1fa2;
  border-left-color: transparent;
  border-radius: 50%;
}

.btnLoader {
  border: 4px solid #7b1fa2;
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.btnLoader {
  border: 4px solid #7b1fa2;
  border-left-color: transparent;
  width: 20px;
  height: 20px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.menu-titles {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600;
  font-size: 20px;
}

.splash-logo {
  width: 70px !important;
  height: 70px !important;
  border: 2px solid #3f0036;
  border-radius: 5px;
  margin-left: 2px;
}

.progress-loader {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.progress-loader {
  width: 70px;
  background: rgba(236, 236, 238, 0.253);
  height: 3px;
  border-radius: 7px;
}

.progress {
  content: "";
  width: 1px;
  height: 3px;
  border-radius: 7px;
  background: #3f0036;
  transition: 0.5s;
  animation: loading1274 2s ease infinite;
}

@keyframes loading1274 {
  0% {
    width: 0%;
  }

  10% {
    width: 10%;
  }

  50% {
    width: 40%;
  }

  60% {
    width: 60%;
  }

  100% {
    width: 100%;
  }
}
